/*---------RESET----------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) #fff;
  font-family: 'Pop background-color: pins', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #f5f5f5;
}

/*---------SCROLLBAR-EDIT----------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.15rem;
}

/*---------OVERLAY----------------------------------*/
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay.overlay-hide {
  transform-origin: bottom;
  animation: overlayHide .5s linear forwards;
}

@keyframes overlayHide{
  to{
    transform: scaleY(0);
  }
}

.loading {
  border: 4px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.7);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  animation: 1s spin infinite linear;
  position: absolute;
}

.loading:nth-of-type(2) {
  animation: 1.25s spin infinite linear;
  height: 5rem;
  width: 5rem;
}

.loading:nth-of-type(3) {
  animation: 1.5s spin infinite linear;
  height: 6rem;
  width: 6rem;
}

.overlay.overlay-hide .loading{
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*---------SECTION-GALERY----------------------------------*/
.galery {
  padding: 2rem 0;
}

.galery h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-family: 'Raleway';
  color: rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 1400px;
  padding: 0 2%;
  margin: 0 auto;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

/*---------BOX-SINGLE----------------------------------*/
.box-single {
  height: 30vw;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.box-single::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box-single:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.box-single img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

.box-single:hover img {
  transform: scale(1.1);
}

/*---------TITLE-IMG----------------------------------*/
.title {
  position: absolute;
  z-index: 2;
  left: 1rem;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.title p {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1.15rem;
  margin-bottom: 0.15rem;
}

.title p:nth-of-type(2) {
  font-size: 1rem;
  opacity: 0.8;
}

.box-single:hover .title {
  transform: translateY(-1rem);
  opacity: 1;
}

/*---------BACKGROUND-MODAL----------------------------------*/
.bg-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform-origin: left;
  animation: animateHideBg 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

.bg-modal.show-bg-modal {
  display: block;
  transform: scaleX(0);
  animation: animateShowBg 0.5s ease-in-out forwards;
}

@keyframes animateShowBg {
  to {
    transform: scaleX(1);
  }
}

@keyframes animateHideBg {
  to {
    transform: scaleX(0);
  }
}

/*---------MODAL----------------------------------*/
.modal {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000;
  transition: 1s;
  animation: animateHide 1s ease-in-out forwards;
  animation-delay: 0.5s;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal.show {
  left: 500px;
  display: grid;
  opacity: 0;
  animation: animateShow 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes animateShow {
  to {
    display: grid;
    left: 0;
    opacity: 1;
  }
}

@keyframes animateHide {
  to {
    display: none;
    left: 500px;
    opacity: 0;
  }
}

.modal-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 900px;
  position: relative;
}

.modal-description {
  display: contents;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*---------MODAL-IMG----------------------------------*/
.modal-img {
  position: relative;
  left: 0;
  animation: animateHideModalImg 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.modal-img.show-modal-img {
  left: -1000px;
  opacity: 0;
  animation: animateShowModalImg 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes animateShowModalImg {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes animateHideModalImg {
  to {
    left: -1000px;
    opacity: 0;
  }
}

.modal-img img {
  height: 100%;
  object-fit: cover;
}

.img {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

/*---------MODAL-TEXT----------------------------------*/
.modal-text {
  background-color: #fff;
  padding: 10rem 5rem;
  height: 100%;
}

.local {
  position: relative;
  top: 0;
  animation: animateHideLocal 0.5s forwards;
}

.local h2 {
  font-size: 2rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.local h3 {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  font-weight: 400;
  opacity: 60%;
}

.local.show-local {
  top: -200px;
  opacity: 0;
  animation: animateShowLocal 0.5s forwards;
  animation-delay: 1.5s;
}

@keyframes animateShowLocal {
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateHideLocal {
  to {
    top: -200px;
    opacity: 0;
  }
}

.modal-text p {
  position: relative;
  bottom: 0;
  animation: animateHideText 0.5s forwards;
  font-size: 1.15rem;
  opacity: 60%;
  line-height: 1.725rem;
}

.modal-text p.show-text {
  bottom: -200px;
  opacity: 0;
  animation: animateShowText 0.5s forwards;
  animation-delay: 1.5s;
}

@keyframes animateShowText {
  to {
    bottom: 0;
    opacity: 60%;
  }
}

@keyframes animateHideText {
  to {
    bottom: -200px;
    opacity: 0;
  }
}

/*---------BUTTON----------------------------------*/
.btn-close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  height: 2rem;
  width: 2rem;
  background-color: #000;
  clip-path: circle();
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-close span {
  position: relative;
  height: 1rem;
  width: 2px;
}

.btn-close span::before,
.btn-close span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.btn-close span::before {
  transform: rotate(45deg);
}

.btn-close span::after {
  transform: rotate(-45deg);
}

/*---------RESPONSIVE----------------------------------*/
@media screen and (max-width: 1024px) {
  .box {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .box {
    grid-template-columns: 1fr;
  }

  .modal-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .box-single {
    height: 50vw;
  }

  .modal-text {
    padding: 4rem 2rem;
  }

  .modal-img {
    height: 15rem;
    width: 100%;
  }

  .btn-close {
    right: 0.5rem;
    top: 0.5rem;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 500px) {
  .modal-img {
    height: 12rem;
  }
}
