* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

/*Editando a scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .7);
  border-radius: .25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.container {
  max-width: 1400px;
  padding: 0 2%;
  margin: 0 auto;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.box-single {
  height: 250px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.box-single::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -4rem;
  z-index: 1;
  background-image: linear-gradient(0deg, #000, transparent, transparent);
  cursor: pointer;
  transition: .5s;
}

.box-single:hover::before{
  bottom: 0;
}

.box-single p{
  position: absolute;
  bottom: -4rem;
  transition: .5s;
  z-index: 2;
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: .5rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.box-single:hover p {
  bottom: 0;
}

.box-single img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bg-modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform-origin: left;
  animation: animateHideBg .5s ease-in-out forwards;
  animation-delay: 1.5s;
}

.bg-modal.show-bg-modal{
  display: block;
  transform: scaleX(0);
  animation: animateShowBg .5s ease-in-out forwards;
}

@keyframes animateShowBg{
  to{
    transform: scaleX(1);
  }
}

@keyframes animateHideBg{
  to{
    transform: scaleX(0);
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000;
  transition: 1s;
  animation: animateHide 1s ease-in-out forwards;
  animation-delay: .5s;

  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal.show {
  left: 500px;
  display: grid;
  opacity: 0;
  animation: animateShow 1s ease-in-out forwards;
  animation-delay: .5s;
}

@keyframes animateShow {
  to{
    display: grid;
    left: 0;
    opacity: 1;
  }
}

@keyframes animateHide {
  to{
    display: none;
    left: 500px;
    opacity: 0;
  }
}


.modal-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 900px;
  position: relative;
}


.modal-description {
  display: contents;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal-img{
  position: relative;
  left: 0;
  animation: animateHideModalImg 1s ease-in-out forwards;
  animation-delay: .5s;
}

.modal-img.show-modal-img{
  left: -1000px;
  opacity: 0;
  animation: animateShowModalImg 1s ease-in-out forwards;
  animation-delay: .5s;
}

@keyframes animateShowModalImg{
  to{
    left: 0;
    opacity: 1;
  }
}

@keyframes animateHideModalImg{
  to{
    left: -1000px;
    opacity: 0;
  }
}

.modal-img img {
  height: 100%;
  object-fit: cover;
}

.img {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.modal-text {
  background-color: #fff;
  padding: 10rem 5rem;
  height: 100%;
}

.local{
  position: relative;
  top: 0;
  animation: animateHideLocal .5s forwards;
}

.local h2 {
  font-size: 2rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.local h3 {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  font-weight: 400;
  opacity: 60%;
}

.local.show-local{
  top: -200px;
  opacity: 0;
  animation: animateShowLocal .5s forwards;
  animation-delay: 1.5s;
}

@keyframes animateShowLocal{
  to{
    top: 0;
    opacity: 1;
  }
}

@keyframes animateHideLocal{
  to{
    top: -200px;
    opacity: 0;
  }
}

.modal-text p {
  position: relative;
  bottom: 0;
  animation: animateHideText .5s forwards;
}

.modal-text p.show-text{
  bottom: -200px;
  opacity: 0;
  animation: animateShowText .5s forwards;
  animation-delay: 1.5s;
}

@keyframes animateShowText{
  to{
    bottom: 0;
    opacity: 90%;
  }
}

@keyframes animateHideText{
  to{
    bottom: -200px;
    opacity: 0;
  }
}

.btn-close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  height: 2rem;
  width: 2rem;
  background-color: #000;
  clip-path: circle();
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-close span {
  position: relative;
  height: 1rem;
  width: 2px;
}

.btn-close span::before,
.btn-close span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.btn-close span::before {
  transform: rotate(45deg);
}

.btn-close span::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1024px){
  .box {
    grid-template-columns: 1fr 1fr;
  }

  .box-single::before{
    bottom: 0;
  }

  .box-single p{
    bottom: 0;
  }

}

@media screen and (max-width: 768px){
  .box {
    grid-template-columns: 1fr;
  }

  .modal-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  

  .modal-text{
    padding: 4rem 2rem;
  }

  .modal-img{
    height: 15rem;
    width: 100%;
  }

  .btn-close{
    right: .5rem;
    top: .5rem;
    z-index: 999;
    background-color: rgba(0, 0, 0, .7);
  }

  

}

@media screen and (max-width: 500px){
  .modal-img{
    height: 12rem;
  }
}
